@charset "UTF-8";

body, h1, h2 {
	font-family: 'ApenFont';
}

body, html {
	height: 100%
}

p {
	line-height: 2
}

.bgimg, .bgimg2 {
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

.bgimg {
	background-image: url("../images/image9.png")
}

.bgimg2 {
	background-image: url("../images/image13.png")
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'ApenFont';
}


html { overflow-y: scroll; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width:100%;
}

.carousel img {
  display: block;
  width: 100%;
}

.flickity-page-dots { bottom: 10px; }

@font-face{
	font-family: 'ApenFont';
  src: url('../apen.ttf');
}
